- content_for :title do
  comet chat

- content_for :head do
  :javascript
    var app_root = "#{app_root}";
  %script{:type => 'text/javascript', :src => "#{app_root}/cometio.js"}
  %script{:type => 'text/javascript', :src => "#{app_root}/js/index.js"}

%div#chat
  %input{:id => 'name', :value => 'おなまえ', :size => 20}
  %input{:id => 'message', :value => 'こんにちは', :size => 80}
  %input{:id => 'btn_send', :type => 'button', :value => 'start'}
  %ul#timeline
